/**
 * Circular menu v2
 */
* { margin: 0; padding: 0; }
.menuopt { display: none; }
.circle, .circle:before, .circle:after { border-radius: 50%; overflow: hidden;overflow: hidden; min-width: 5em;  font: 100%/1.3 Century Gothic, Verdana, sans-serif; }

.menuCircle {
	margin: 5em auto;
	min-width: 16em; width: 72%; 
    /*max-width: 40em;*/
    max-width: 30em;
}
.menuCircle ul {
	position: relative;
	padding: 50%;
	max-width: 0; max-height: 0;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	list-style: none;
	background: white;
}
.menuCircle li {
	position: absolute;
	transition: 2s;
}
.slice {
	overflow: hidden;
	position: absolute;
	top: 0; left: 0;
	width: 50%; height: 50%;
	transform-origin: 100% 100%;
	
   /* border-style: solid;
    border-width: 5px;	*/
}
.unsel {
   /* top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;*/
    top: 38%;
    left: 38%;
    width: 25%;
    height: 25%;
    box-shadow: 0 0 0.75em;
    background: paleturquoise;
}
.raspberry{
    background-color:  #BF0000; 
    }

.magnifiable { height: 100%; }
nav label { cursor: pointer; }
.slice label {
    display: block;
    margin: 30%;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    /* transform: skew(-50deg) rotate(-70deg); */
   /* box-shadow: 0 0 0.1em black;*/
    opacity: .5;
    color: transparent;
    font-size: .8em;
    line-height: 1.9;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    transition: 1s;
    color: white;
}



.slice label:hover { opacity: 1; }
.dark label:hover { color: white; }
.light label:hover { color: white; }
.unsel label {
	display: block;
	height: 100%;
	background: radial-gradient(rgba(0,0,0,.5), transparent 50%);
}
.raspberry label, .oraspberry:checked ~ nav .unsel { background: #BF0000; }
.slice label:hover:after { opacity: 0; }
.oraspberry:checked ~ nav .circle .raspberry { transform: scale(1.05); }

.ococonut:checked ~ nav .coconut label, 
.ovanilla:checked ~ nav .vanilla label, 
.oorange:checked ~ nav .orange label, 
.oalmond:checked ~ nav .almond label, 
.ogrape:checked ~ nav .grape label, 
.oraspberry:checked ~ nav .raspberry label {
	/*box-shadow: 0 0 .45em rgba(0,0,0,.5);*/
	opacity: 1; color: white;
}
.oblackberry:checked ~ nav .blackberry label , 
.ocherry:checked ~ nav .cherry label, 
.ostrawberry:checked ~ nav .strawberry label {
	box-shadow: 0 0 .45em rgba(0,0,0,.5);
	opacity: 1; color: white;
}
@media (min-width: 25em) { .slice label { font-size: 1.5em; line-height: 2.3; } }
@media (min-width: 35em) { .slice label { font-weight: 700; line-height: 2.7; } }
